body {
    background-color: #0e0e0e;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 400px;
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

#chatBox {
    flex: 1;
    overflow-y: auto;
    background: #111;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 300px;
}

/* Mesaj kutuları */
.message-box {
    padding: 8px 12px;
    border-radius: 8px;
    margin: 5px 0;
    max-width: 80%;
    word-wrap: break-word;
}

/* Kullanıcı mesajları */
.user-message {
    background-color: #4ee44e33;
    color: #4ee44e;
    text-align: right;
    margin-left: auto;
}

/* Bot mesajları */
.bot-message {
    background-color: #ff333333;
    color: #ff3333;
    text-align: left;
    margin-right: auto;
}

.input-area {
    display: flex;
    gap: 10px;
}

#userInput {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

#sendBtn {
    padding: 10px 20px;
    background-color: #ff3333;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
